body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.nav {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
}

.nav li {
  list-style: none;
}

.nav li a {
  text-decoration: none;
}

button {
  margin: 10px;
}
