<h1>You're in!</h1>
<img
  src="https://www.top13.net/wp-content/uploads/2015/10/perfectly-timed-funny-cat-pictures-5.jpg"
  width="50%"
/>
<br />
<button><a href="javascript:history.back()">Back</a></button>